body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: url('index.png') no-repeat center center fixed; 
    background-size: cover;
    font-family: 'Arial', sans-serif;
}

header {
    background-color: transparent;
    color: white;
    padding: 20px 0;
    width: 100%;
    position: absolute;
    top: 45%; /* Adjusted to move text up */
    transform: translateY(-50%);
}

header h1 {
    color: white;
    font-size: 70px;
}

.main-image {
    display: none;
}

footer {
    background-color: #333;
    color: white;
    padding: 10px 0;
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
}

footer a {
    color: #fff;
    text-decoration: none;
}
