body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: url('index.png') no-repeat center center fixed; 
    background-size: cover;
    font-family: 'Arial', sans-serif;
}

header {
    background-color: transparent; /* Removed the blue background */
    color: white; /* Ensures text in the header is white */
    padding: 20px 0;
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

header h1 {
    color: white; /* Make the "Inferential Research" text color white */
    font-size: 120%; /* Increase the font size by 20% */
}

.main-image {
    display: none; /* Since the image is used as a background, this is not displayed */
}

footer {
    background-color: #333;
    color: white;
    padding: 10px 0;
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
}

footer a {
    color: #fff;
    text-decoration: none;
}
